{% extends 'base.html.j2' %}
{% block title %}
    Homepage
{% endblock %}

{% block css %}
<link href="http://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
                
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
{% endblock %}


{% block content %}
    
    <div class = 'text'>
    <h1>Welcome To the Podex! (Not TM BTW)</h1>
    <h5>To continue, please go to the pokedex tab!</h5>
    </div>
   
{% endblock %}
